<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='media/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="header-text">
        <a href="#about">About me</a>
        <a href="#programs">Programs</a>
        <a href="#prices">Prices</a>
        <a href="#reviews">Reviews</a>
        <a href="#contacts">Contacts</a>
      </div>
    </header>
    {% block content %}{% endblock %}
    <footer id="contacts">
			<div class="footer-social">
				<a href="#vk">Vk</a>
				<a href="#tg">Telegram</a>
				<a href="#whatsapp">WhatsApp</a>
			</div>
			<div class="footer-copyright">
				<p>© 2024 English with Sasha, Inc. All rights reserved.</p>
			</div>
    </footer>
  </body>
</html>
