{% extends 'base.html' %}

{% block title%}
English with Sasha
{% endblock %}

{%block content %}
<main>
  <div class="main-title">
    <p>English tutor</p>
    <p>Aleksandra Bychkova</p>
    <h1>English with Sasha</h1>
    <div class="main-title-button">
			<a href="#order">
				<button type="button">
					<p>Trial lesson</p>
				</button>
			</a>
    </div>
  </div>
	<div class="long-text">
		<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, laudantium?</li>
		<li>Officia, est voluptatibus deserunt quaerat obcaecati vero omnis blanditiis non!</li>
		<li>Voluptas, vitae dolorem reiciendis sint beatae a eveniet sapiente. Fugit.</li>
		<li>Ea voluptates eaque enim tempore voluptatibus itaque in quae odio?</li>
		<li>Consectetur a dolore eos similique animi consequuntur corrupti deserunt dicta.</li>
		<li>Deleniti nemo unde reiciendis, vero fugiat praesentium delectus eum sapiente.</li>
		<li>Quia molestiae labore error voluptatibus provident excepturi animi eligendi vero!</li>
		<li>Possimus, voluptas necessitatibus itaque dolores repellendus consectetur expedita pariatur placeat!</li>
		<li>Debitis exercitationem hic minima voluptas! Aut tempora sit voluptas impedit.</li>
		<li>Ab error illum, dolorum rerum non deleniti sequi incidunt modi.</li>
		<li>Aliquid aliquam voluptatum quas atque illum ab, a quia. Expedita?</li>
		<li>Fugiat repudiandae adipisci vitae quas aperiam, deserunt tenetur provident sit?</li>
		<li>Facere odit, pariatur quo cumque ipsam suscipit eius eveniet enim.</li>
		<li>Ducimus dolore adipisci et, dolor vel eius? Illo, amet fugit?</li>
		<li>Ut soluta similique assumenda voluptate eligendi illo illum doloremque itaque.</li>
		<li>Dolorem voluptatum accusantium, quos eligendi delectus odit in maiores iusto.</li>
		<li>Saepe ut voluptatem vero porro accusamus dolores delectus quisquam dolorem.</li>
		<li>Adipisci saepe quibusdam cupiditate doloribus sequi nisi inventore reiciendis libero.</li>
		<li>Rem repellat inventore unde ratione aperiam temporibus nihil quo iusto?</li>
		<li>Consectetur magni est eligendi labore illum doloremque deleniti officia commodi.</li>
		<li>Minus quis saepe omnis itaque cupiditate, harum suscipit natus. Culpa.</li>
		<li>Quo esse temporibus dolor ad nobis, nam officia sunt dolorem?</li>
		<li>Quam quae consequuntur quia deserunt tenetur, soluta ducimus fugit animi.</li>
		<li>Eum rerum ut error! Cumque laudantium sed porro ea aliquam.</li>
		<li>Error maiores consequuntur deleniti accusamus aspernatur aliquam accusantium ratione repellendus.</li>
		<li>Quam cum dolores ipsam explicabo minima harum optio, nisi modi!</li>
		<li>Quibusdam consequatur doloremque voluptatibus voluptas blanditiis reiciendis dignissimos soluta a.</li>
		<li>Minus molestiae adipisci rem illo at nobis voluptatum odio cum?</li>
		<li>Laborum doloribus id, in quod velit reiciendis rerum eos nam.</li>
		<li>Impedit provident reprehenderit aliquid sint culpa sunt dicta numquam tempora!</li>
		<li>Excepturi, vitae in. Accusamus eligendi voluptatem aperiam libero hic nam!</li>
		<li>Soluta, esse dolores. Soluta aliquid animi id et, aperiam excepturi.</li>
		<li>Vero ab consequuntur unde necessitatibus optio corrupti voluptatem excepturi. Consequuntur.</li>
		<li>Id, quos? Doloremque cumque molestiae, dignissimos accusamus at minus et!</li>
		<li>Doloremque itaque repellat voluptas dignissimos aut, vitae nulla ut obcaecati.</li>
		<li>Provident atque facere error voluptatibus mollitia possimus culpa animi sed?</li>
		<li>Alias tempore pariatur cum consequatur voluptate aperiam eum quis eveniet.</li>
		<li>Tenetur ea inventore velit quo esse incidunt earum, voluptate aut.</li>
		<li>Ipsam quo, corrupti tenetur facere reiciendis nam dolorem vero deleniti.</li>
		<li>Nulla eos quo officia. Quo quia eius repellendus harum officiis!</li>
		<li>Facere doloremque quidem minima repellendus, est totam dicta sit voluptas!</li>
		<li>Praesentium beatae itaque ab enim deserunt, ipsa rem sequi veniam!</li>
		<li>Quasi voluptatibus animi a natus autem vitae accusamus, fugit provident.</li>
		<li>Impedit quidem maxime cum est! Nostrum ad harum officiis neque.</li>
		<li>Labore aspernatur animi officia, repellendus doloribus cupiditate at iure commodi.</li>
		<li>Esse aut voluptatum odit eum sapiente numquam odio consectetur perspiciatis.</li>
		<li>Distinctio ut ipsam quaerat cupiditate dolor repellendus veniam facere rerum.</li>
		<li>Quis exercitationem perferendis ea omnis laudantium non sapiente iure odit!</li>
		<li>Voluptates itaque reprehenderit modi dolorum recusandae sapiente iste ea deserunt.</li>
		<li>Minima natus quis laudantium ex impedit esse earum quas. Ex!</li>
		<li>Magnam iste delectus officia. Alias cupiditate adipisci repudiandae amet libero?</li>
		<li>Harum alias aliquid molestiae eum repellat expedita atque iure quod.</li>
		<li>Fuga fugit dolorem iste aut. Optio temporibus distinctio tenetur blanditiis.</li>
		<li>Fuga voluptatibus deleniti in temporibus, dolor animi officia nesciunt voluptates?</li>
		<li>Ut nihil provident dolores exercitationem doloremque maxime harum ducimus magni.</li>
		<li>Nesciunt iusto ratione, tempore architecto temporibus totam possimus harum amet?</li>
		<li>Libero aut vitae et beatae aliquam. Inventore quisquam similique ut.</li>
		<li>Sequi illo tempora reprehenderit delectus officiis corporis tenetur maxime porro?</li>
		<li>Unde blanditiis vel obcaecati culpa animi excepturi natus, molestias nobis?</li>
		<li>Quas et est earum non commodi tempora sapiente, eius ratione!</li>
		<li>Suscipit cum pariatur ipsa asperiores ducimus quam molestiae. Fuga, atque!</li>
		<li>In, adipisci sapiente. Distinctio alias aliquam iste architecto quibusdam maxime.</li>
		<li>Ipsa accusamus quam nisi eos ab laborum, minus deleniti ex?</li>
		<li>Magni et tempora rerum sit fugiat possimus animi iusto excepturi?</li>
		<li>Similique deleniti officiis quo vitae architecto ad laborum distinctio atque.</li>
		<li>Dolorum quaerat necessitatibus tempora. Blanditiis itaque impedit id deleniti nihil?</li>
		<li>Cupiditate, nobis ducimus! Explicabo consectetur sit, id a repudiandae qui.</li>
		<li>Laboriosam non laborum fugit, debitis necessitatibus reiciendis commodi placeat optio?</li>
		<li>Quos aliquam reiciendis animi, non placeat fugiat necessitatibus recusandae numquam!</li>
		<li>Saepe, quis! Officiis, laborum. Officiis eum ipsum minus vitae nesciunt.</li>
		<li>Voluptatem iure nemo officia ullam impedit consequatur quis molestiae minus.</li>
		<li>Accusamus modi voluptatum debitis, atque ducimus alias quam molestiae fugit?</li>
		<li>Aliquid totam magni ipsa aliquam consequuntur, explicabo minus ex atque.</li>
		<li>Maiores nisi commodi sit illo obcaecati exercitationem natus minus blanditiis.</li>
		<li>Id eaque dolorum fugiat tempora quo dolore aspernatur assumenda similique!</li>
		<li>Id facere aut eos illo iure explicabo perferendis aliquid corporis.</li>
		<li>Perferendis dicta veritatis ad impedit nisi omnis ratione, optio quod.</li>
		<li>Deserunt rerum aliquid ipsum. Eveniet dolorum consectetur soluta accusamus qui.</li>
		<li>Porro consequuntur assumenda pariatur atque iusto eos explicabo sunt illo!</li>
		<li>Expedita distinctio vero vitae veritatis ea, enim eum labore? Officiis?</li>
		<li>Rerum eum non earum modi iusto accusantium vitae voluptates veniam?</li>
		<li>Voluptates voluptatum distinctio repellat in architecto alias laudantium maxime veniam!</li>
		<li>Perferendis eum et adipisci. Magnam amet temporibus pariatur molestiae quisquam.</li>
		<li>Voluptates molestias eius, quos provident labore omnis voluptas nulla tempora.</li>
		<li>Perferendis perspiciatis quae dignissimos incidunt hic inventore quas vero ex?</li>
		<li>Iusto nostrum asperiores vitae omnis at aut, tempora dolores esse!</li>
		<li>Fugiat, soluta quos! Accusantium quo cupiditate sed ratione, maxime libero.</li>
		<li>Numquam asperiores perferendis fugit totam! Repellat voluptatum repudiandae natus possimus.</li>
		<li>Quis eligendi alias, quasi maiores explicabo totam soluta labore molestiae.</li>
		<li>Expedita at, aperiam obcaecati magni quam est accusantium eaque corrupti.</li>
		<li>Quae consectetur corrupti accusamus cum ex delectus aliquid dicta soluta.</li>
		<li>Voluptates culpa ad repellendus expedita quae minus adipisci? Tempore, laborum.</li>
		<li>Fugit architecto nostrum eligendi accusantium, quo cumque placeat provident pariatur.</li>
		<li>Tenetur, voluptas sit? Necessitatibus unde tempore culpa autem voluptatibus blanditiis.</li>
		<li>Tenetur unde officiis in ratione sed, pariatur quidem nihil excepturi!</li>
		<li>Necessitatibus consectetur nobis fugiat! Asperiores harum perferendis placeat vero natus!</li>
		<li>Sed quo facilis nesciunt dicta corporis dignissimos cum odio. Inventore.</li>
		<li>Sint ratione illo tempora rem perferendis suscipit non quae alias.</li>
		<li>Autem quisquam quia adipisci repellendus. Animi, nam! Mollitia, laborum nisi!</li>
		<li>Quam totam officia doloremque, officiis facilis provident excepturi omnis dolorem.</li>
</main>
{% endblock %}
