@import url('./fonts.css');

:root {
    --color1: #05b1b1;
    --color2: #52339a;
}

body {
    font-family: 'CruinnRegular', sans-serif;
}

header a {
    text-decoration: none;
    color: var(--bs-black);
    font-size: 15px;

    transition: all 0.3s ease;
}

header a:hover {
    color: var(--color1);
}

main {
    padding: 120px 0;
}

main p {
    font-size: 20px;
}

main h1 {
    font-family: 'CruinnBold', sans-serif;
    font-size: 60px;
}

/* main .btn {
    background-color: var(--color2);
    color: var(--bs-white);
    width: 160px;
    height: 40px;

    transition: all 0.3s ease;
}

main .btn:hover {
    background-color: var(--color1);
} */


