@import url('./fonts.css');

:root {
    --black: #1d1d1d;
    --white: #fdfdfd;
    --deep-lilac: #9955bb;
    --bright-lilac: #db91ef;
    --light-lilac: #edc9f9;
}

body {
    font-family: 'Montserrat-Regular', sans-serif;
    color: var(--color1);
    font-size: 15px;
}


/* Header */


.header-text {
    padding: 20px;

    display: flex;
    justify-content: center;
}

.header-text a {
    margin: 20px;

    text-decoration: none;
    color: var(--black);

    transition: all 0.3s ease;
}

.header-text a:hover {
    color: var(--bright-lilac);
}


/* Main */


.main-title {
    padding: 200px;

    background-color: var(--light-lilac);
}

.main-title p {
    margin: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}

.main-title h1 {
    margin: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 100px;
}

.main-title-button {
    display: flex;
    justify-content: center;
}

.main-title-button button {
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 60px;
    
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    background-color: var(--deep-lilac);

    transition: all 0.3s ease;
}

.main-title-button button p {
    text-decoration: none;
    color: var(--white);

    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 15px;
}

.main-title-button button:hover {
    background-color: var(--bright-lilac);
}


/* Footer */


.footer-social {
    padding: 20px;

    display: flex;
    justify-content: center;

    scroll-behavior: smooth;
}

.footer-social a {
    margin: 20px;

    text-decoration: none;
    color: var(--black);

    transition: all 0.3s ease;
}

.footer-social a:hover {
    color: var(--bright-lilac);
}

#contacts {
    overflow-y: scroll;
    scroll-behavior: smooth !important;
}

.footer-copyright {
    margin-bottom: 40px;

    display: flex;
    justify-content: center; 
}


